body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}

.submissionlist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px dashed royalblue;
    background-color: rgb(221, 224, 228);
    padding: 1rem;
    margin: 0.5rem 0;
    max-width: 50%;
    font-size: smaller;
}